ion-content{
    --background: url('../../assets/icon/background.jpg') no-repeat center center / cover;
  
    .buttons{
      padding-top: 50%;
      // ion-button{
      //   padding-bottom: 5%;
      // }
    }

    ion-item{
      margin: 0.5em;
      border-radius: 5px;
      width: 90%;
      background: none;
    } 
}