<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>sign up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="body">
  <form [formGroup]="signupForm">
    <ion-item>
      <ion-label position="floating">City</ion-label>
      <ion-input formControlName="city" type="text" required></ion-input>
    </ion-item>
    <!-- <div *ngIf="loginForm.controls.email.invalid && loginForm.controls.email.dirty">
    </div> 
    <div style="text-align: center; color: red" class="error" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">
      Please input your email!
    </div>
    <div style="text-align: center; color: red" class="error" *ngIf="loginForm.get('email').hasError('pattern') && loginForm.get('email').touched">
      Email address invalid!
    </div> -->

    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Confirm Password</ion-label>
      <ion-input formControlName="confirmPassword" type="password"></ion-input>
    </ion-item> -->

    <ion-button size="large" shape="round" expand="block" fill="outline" color="light" (click)="signup()">SIGN UP</ion-button>
  </form>
</ion-content>
