<ion-header>
  <ion-toolbar color="danger">
    <!-- <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> -->
    <ion-title text-center>
      Welcome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="buttons">
    <ion-button size="large" shape="round" expand="block" fill="outline" color="light" routerLink="/signup" routerDirection="root">Sign up</ion-button>
    <ion-button style="margin-top: 10%" size="large" shape="round" expand="block" fill="outline" color="light">Log in</ion-button>
  </div>
    
</ion-content>
